@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body{
    background-color: #f4b3b3;
    align-items: center;
    justify-content: center;

    p{
        padding-left: 10%;
        padding-right: 10%;
        justify-content: center;
        font-family: "Spline Sans Mono", monospace;
        font-size: 17px;
        color: #000;
    }
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
   }

.container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-family: "Titillium Web", sans-serif;
}

.containerC{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.455);  
    margin: 25px;
    padding: 10px ;
    border-radius: 8px;
    width: 150vh;
    margin-left: 13%;
    justify-content: center;
}

.title{
    color: #002028;
    font-family: "Spline Sans Mono", monospace;
    font-size: 40px;
    padding-left: 10%;
    padding-right: 40%;
    padding-top: 5%;
}


.subtitle{
    font-family: "Titillium Web", sans-serif;
    color: #000000;
    padding-left: 10%;
    padding-right: 40%;
    font-size: 20px;
}   

.container-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagem{
    margin: 15px;
    border-radius: 8px;
    max-width: 70vh;
}

section{
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    
}

.accordion{
    margin: 40px auto;
    width: 800px;
    font-family: "Titillium Web", sans-serif;
}

.accordion li {
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(239, 188, 188, 0.5);
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 248, 248, 0.7);
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: "Spline Sans Mono", monospace;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #002028;
}

label::before{
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

input[type="radio"]{
    display: none;
}

.accordion .content{
    color: #555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content{
    max-height: 400px;
    padding: 10px 10px 20px;
}

.accordion input[type="radio"]:checked + label::before{
    content: '-';
}

header{
    background-color: #440000;
    width: 100%;
    padding: 10px;
}

.logo{
    width: 40%;
    cursor: pointer;
}

.menu{
    width: 70%;
}

.menu nav a{
    color: rgb(244, 178, 178, 0.7);
    text-decoration: none;
    padding-right: 50px;
    font-size: 18px;
    position: relative;
    transition: color 0.4s;
}

.menu nav a:hover{
    color: #f4b3b3;

}

.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-color: #6E1313;
    position: absolute;
    top: 27px;
    left: 0;
    transition: width 0.5s;   
}

.menu nav a:hover::after{
    width: 40px;
}

.menu nav a.home{
    color: #f4b3b3

}

.menu nav a.home:after{
    width: 40px;
}

.contato button{
    color: #f4b3b3;
    width: 35px;
    height: 35px;
    font-size: 20px;
    background-color: #440000;
    border: none;
    cursor: pointer;
    position: relative;
    transition: font-size 0.2s;
}

.contato button:hover{
    font-size: 23px;
}

.flex{
    display: flex;
}

footer{
    padding: 20px 4%;
    background-color: #440000;
    width: 100%;
    display: flex;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    color: #f4b3b3;
    font-size: 30px;
}

.logo-footer{
    padding-right: 630%;
}

::-webkit-scrollbar{
    color: #333;
    width: 8px;

}

::-webkit-scrollbar-thumb{
    background-color: #6E1313;
    height: 2%;
}